body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

h1, h2 {
  margin: 10px;
}

.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 630px;
  height: 600px;
}

.mole {
  background-image: url('mole.png');
  background-size: cover;
}